/* ~/.config/waybar/style.css */

@import "colors.css";

* {
    border: none;
    font-family: "JetbrainsMono Nerd Font";
    font-size: 16px;
    min-height: 10px;
}

window#waybar {
    background: transparent;
    transition-duration: 0.1s;
}

#window {
    margin: 8px;
    padding-left: 8;
    padding-right: 8;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    color: @accent-magenta;
    border-top: 2px solid @accent-magenta;
}

#workspaces button {
    padding: 0 4px;
}

#workspaces button.focused {
    background-color: rgba(0, 0, 0, 0.3);
    color: @accent-magenta;
    border-top: 2px solid @accent-magenta;
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.3);
    color: @accent-magenta;
    border-top: 2px solid @accent-magenta;
}

#workspaces button.urgent {
    background-color: @critical;
}

/* Module Sizing */
#pulseaudio,
#cava,
#mpris,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad {
  margin: 2px 4px;
  padding: 0 4px;
  border-bottom: 3px solid @border;
  border-radius: 5px;
  color: @foreground;
  background: @background;
}

#clock {
    color: @accent-coral;
    border-bottom-color: @accent-coral;
}

#clock.date {
    color: @accent-magenta;
    border-bottom-color: @accent-magenta;
}

#pulseaudio {
    color: @info;
    border-bottom-color: @info;
}

#network {
    color: @accent-yellow;
    border-bottom-color: @accent-yellow;
}

#idle_inhibitor {
    margin-right: 12px;
    color: @success;
}

#idle_inhibitor.activated {
    color: @critical;
}

#battery {
    color: @success;
    border-bottom-color: @success;
    border-radius: 0 10px 10px 0;
}

#battery.warning {
    color: @accent-yellow;
    border-bottom-color: @accent-yellow;
}

#battery.critical {
    color: @critical;
    border-bottom-color: @critical;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#custom-vpn {
    color: @accent-blue;
    border-radius: 15px;
    padding: 0 6px;
}

#cava {
    font-size: 14px;
    transition: 0.3s;
}

#cava:hover {
    color: @foreground;
    background: @accent-coral;
    border-color: @accent-coral;
}
